{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row"><br>
        {% for i in plist %}
         <div class="card-deck mt-4">
        <div class="col-md-3"><br><br>
            <div class="card" style="width: 18rem;"><br><br>
  <img src="{{i.img.url}}" class="card-img-top" alt="..." width="250px" height="250px">
  <div class="card-body">workon
    <h5 class="card-title">{{i.name}} </h5>
    <p class="card-text"></p>
    <a href="{% url 'restapp:detail' i.id %}" class="btn btn-primary">More details</a>
  </div>
</div>
        </div>
        </div>
         {% endfor %}
    </div>

</div>



{% endblock %}
